<header class="student-header">
  <div class="logo">
    <h1>Glitter Class - Student</h1>

  </div>
  <nav class="nav-links">
    <a routerLink="/student/groups" routerLinkActive="active-link">
      <i class="material-icons">school</i>
      <span>Grupos</span>
    </a>
    <a routerLink="/student/profile" routerLinkActive="active-link">
      <i class="material-icons">account_circle</i>
      <span>Mi Perfil</span>
    </a>
    <a (click)="logout()">
      <i class="material-icons">logout</i>
      <span>Salir</span>
    </a>
  </nav>
</header>